/* font size for all cells */
.font-size-cell {
    font-size: 13px;  
  }
  
  /* Media queries for different screen sizes */
  @media (max-width: 576px) {
    .font-size-table .font-size-cell {
      font-size: 12px;  
    }
  }
  
  @media (min-width: 577px) and (max-width: 768px) {
    .font-size-table .font-size-cell {
      font-size: 12px; 
    }
  }
  
 