.cantainer {
    height: 100vh;
    width: 100%;
}

/* navbar: Styles for the navigation bar. */

.navber {
    height: 60px;
    position: sticky;
    top: 0;

    /* routes: Styles for the navigation bar. */

}

.routes {
    height: calc(100vh -60px);
}